.table-show-content {
  width: 98%;
  border-collapse: unset;
  margin: 0 auto 0 auto;
  padding: 0;

  & .table-head > * {
    padding-left: 20px;
  }
  & tbody tr td {
    color: #A1A1AA;
    height: 50px;
  }
  & tr {
    border-bottom: 1px solid #414144;
  }
  & .project-input td {
    color: white;
    padding-left: 20px;

    & .input-edit {
      background: none;
      border: 1px solid #414144;
      color: #414144;
      border-radius: 6px;
      width: 90%;
      height: 36px;
      padding-left: 10px;
    }
  }
}

.icon-level {
  width: 1rem;
  height: auto;
  margin-top: 5px;
}
.into {
  margin-left: 10px;
}
.into-child {
  margin-left: 30px;
}

