.table-show-content {
  width: 98%;
  border-collapse: unset;
  margin: 0 auto 0 auto;
  padding: 0;

  & tbody tr td {
    color: #A1A1AA;
    height: 50px;
  }

  & tr {
    border-bottom: 1px solid #414144;
  }

  & .project-input td {
    color: white;

    & .input-edit {
      background: none;
      border: 1px solid #414144;
      color: #414144;
      border-radius: 6px;
      width: 90%;
      height: 36px;
      padding-left: 10px;
    }
  }
}

