.table {
  width: 100%;
  min-height: 100vh;
  background-color: #27272A;
  border-collapse: collapse;

  & .td {
    border: 1px solid #414144;
  }
  & .table-navbar {
    height: 44px;
    padding-left: 22px;

    &.table-navbar-buttons {
      text-align: left;
    }
  }
  & .table-titles {
    height: 44px;
    width: 100%;

    & .table-name-or-sorting {
      width: 15%;

      & .flex-container {
        display: flex;
        height: 60px;
        gap: 5px;
        width: 100%;


        & .item1 {
          padding-top: 0.9rem;
          width: 92%;

          & .name-project {
            color: #A1A1AA;
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            padding: 0;
            margin: 0;
          }
          & .abbrev {
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            color: #A1A1AA;
            padding: 0;
            margin: 0;
          }
        }

        & .item2 {
          padding-top: 1rem;
          width: 8%;

          & .btn-open {
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            color: #A1A1AA;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
          }
          & .btn-open:hover {
            cursor: pointer;
          }
        }
      }
      & .flex-container > div{
        border-radius: 5px;
        padding: 8px;
      }
    }
    & .table-name-project {
      width: 85%;
      color: white;
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      padding: 0 0 0 10px;
      margin: 0;
    }
  }
  & .table-content {
    & .table-list-projects {
      vertical-align: top;

      & .project-name-in-list {
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: white;
        background: none;
        border: none;
        text-align: left;
        margin-top: 5px;
      }

      & .project-name-in-list:hover {
        cursor: pointer;
        background-color: #A1A1AA;
      }
    }
    & .table-structure-folder {
      height: 100%;
      background-color: #202124;
      vertical-align: top;
    }
  }
}

.active {
  display: block;
};
.not-active {
  display: none;
};